#cards-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: coral; */
    width: 40em;
}
.listing {
    margin-top: 3em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 20em;
}
.card {
    display: flex;
    padding: 2em;
    text-decoration: none;
    border-bottom: 1px black solid;
}

.card-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    width: 20em;
    object-fit: contain;
    border-radius: 1em;
}

#stay-specifics {
    margin-left: 1em;
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none;
    gap: 1em;
}
/* section p {

} */
.cost {
    position: relative;
    top: 5em;
    float: right;
}

.list-items {
    display: flex;
    gap: 1.5em;
    border-bottom: 1px black solid;
    padding-bottom: 2em;
    /* margin: 2em 5em; */
}
.description {
    padding-top: 2em;
    /* margin: 2em 5em; */
}
.left-info {
    display: flex;
    flex-direction: column;
    margin-top: 5em;

}
.main-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.booking-right {
    margin-top: 5em;
    display: flex;
    justify-content: flex-end;
    width: 25em;
    margin-left: 3em;
    border-radius: 1em;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    padding: 24px;
    /* grid layout */
    justify-content: center;
}
div.upper-button button {
    display: flex;
    flex-direction: row;
    all: unset;
}
.upper-button .check-in-selector {
    border: 1px solid rgb(221, 221, 221);
    border-right: .8px solid rgb(221, 221, 221);
    padding: .8em;
    padding-right: .5em;
    border-radius: 1em 0 0 0;
    width: 10em;
    height: 2em;
}
.upper-button .check-out-selector {
    border: 1px solid rgb(221, 221, 221);
    border-left: .8px solid rgb(221, 221, 221);
    padding: .8em;
    padding-left: .5em;
    border-radius: 0 1em 0 0;
    width: 10em;
    height: 2em;
}
.quiet-text {
    color: rgb(221, 221, 221);
}
.guest-selector {
    width: 27.4em;
    height: 4em;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0 0 1em 1em;
}
#check-in-info {
    display: flex;
    flex-direction: column;
}
.booking-open {
    height: 4em;
    border-radius: 1em;
    border: none;
    background-image: var(--dls19-brand-gradient-radial, radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ))  !important;
    color: white;
    margin-top: 2em;
}
.button-section {

}
.calendar {
    position: absolute;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 1em;
    right: 5em;
    margin-top: 5em;
    background: white;
}
/* check in booking selector */
