#date-bar {
    /* centering */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    /* sizing */
    height: 4em;
    width: 54em;
    /* styling */
    background: white;
    border-radius: 4em;
}
#date-bar div {
    display: flex;
    flex-direction: column;
}
.date-button {
    height: 4em;
    background: none;
    border: none;
    margin: auto;
}
#date-select {
    border-radius: 1em;
    margin: auto;
}
