#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    padding: 2em;
    border-radius: 1em;
}
#signup-form input, #signup-form button {
    height: 4em;
    width: 26em;
    border-radius: 1em;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

}
#signup-form button {
    margin-top: 3em;
}
