#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signup-form input, #signup-form button {
    height: 4em;
    width: 26em;
    border-radius: .5em;
    border: 1px grey solid;
}
#signup-form button {
    margin-top: 3em;
}

