* {
    text-decoration: none;
    margin: 0;
}

#noScroll-nav {
    background: black;
    height: 4em;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
}
#noScroll-nav a {
    color: white;
    padding: 1em;
}
#left-nav {
    margin-left: 3em;
}

#right-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 3em;
}
#noScroll-nav #host-tab {

}

#button-container {
    float: right;
    display: flex;
    justify-content: center;
}
#profile-button {
    float: right;
    height: 3.5em;
    width: 6em;
    margin-right: 2em;
    border-radius: 2em;
    border: 1px black solid;
    background: grey;
    /* color: black; */
}
#host-tab {
    margin: auto;
    margin-right: 3em;
}
.profile-dropdown {
    background: white;
    position: absolute;
    top: 6em;
    right: 2em;
    border-radius: 1em;
    list-style: none;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    /* padding: 2em; */
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
}
.profile-dropdown button {
    all: unset;
}
.profile-dropdown button:hover, .profile-dropdown .profile-booking:hover {
    background: rgb(221, 221, 221);
    width: 100%;
}
button, .profile-booking, li {
    padding: .5em 1.2em;
}
.search-background {
    background: black;
}
.sticky-bar {
    position: fixed;
    width: 100%;
}
