#nav-bar {
    background: coral;
    height: 4em;
    margin: 0;
}
#button-container {
    float: right;
    height: 3.5em;
    width: 6em;
    border-radius: 2em;
    border: 1px black solid;
    background: grey;
    display: flex;
    justify-content: center;
}
#profile-button {
    background: pink;
    width: 100%;
}
